@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 15px 30px;
}

/* nav releted work */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
h3{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    font-weight: 400;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
    align-items: center;

}

nav a{
    text-decoration: none;
}
.header{
    background-color: #f3b68b;
    background-image: url(./images/header_bg.png),url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left ; 
    

}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_contant{
    max-width: 500px;
}

.banner .profile{
    width: 500px;
}

.banner_geting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner_head{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner_dis{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
   
}

/* About section releted style */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px;
}
.section_titel{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section_dis{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.all_contant{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.info_contener{
    margin-right: 50px;
    
}

#dis{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
}