@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 15px 30px;
}

/* nav releted work */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
h3{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    font-weight: 400;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
    align-items: center;

}

nav a{
    text-decoration: none;
}
.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}